/* --- CHARTE GRAPHIQUE --- */
:root {

    --dreux-blue: #1A468C;    /* Couleur identitaire */
    --yum-orange: #FF6600;    /* Couleur d'action/Appétit */
    --bg-cream:   #F4F4F4;    /* Fond */
    --text-dark:  #2C3E50;    /* Texte */
    --brick-red:  #C0392B;    /* Accents */

    /* Polices */
    --font-title: 'Oswald', sans-serif;
    --font-text:  'Roboto', sans-serif;
}

body {
    background-color: var(--bg-cream);
    color: var(--text-dark);
    font-family: var(--font-text);
}

h1, h2, h3 {
    font-family: var(--font-title);
    color: var(--dreux-blue);
    text-transform: uppercase; /* Donne un aspect "Enseigne de magasin" */
}

/* En-tête */
header {
    background-color: var(--dreux-blue);
    color: white;
    /* Une bordure orange en bas pour le style */
    border-bottom: 5px solid var(--yum-orange); 
}

/* Boutons d'action (Commander, Rechercher) */
.btn {
    background-color: var(--yum-orange);
    color: white;
    font-weight: bold;
    border-radius: 5px; /* Un peu arrondi comme un burger */
    text-transform: uppercase;
}

.btn:hover {
    background-color: #e65c00; /* Orange un peu plus foncé au survol */
}

/* Liens de navigation */
nav a {
    color: white;
    font-family: var(--font-title);
    letter-spacing: 1px;
}

nav a:hover {
    color: var(--yum-orange); /* Changement de couleur au survol */
}
